<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport content=width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Ledger!!!</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url "home" %}">HOME</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <h3>MAKE IT DYNAMIC!</h3>
        {% endblock %}
    </main>
</body>
</html>
